.all {
    width:100vw;
    height:100vh;
    align-items: center;
    justify-content: center; 
    position: relative;
}
body {
    width: 100vw;
    height: 100vh;
    margin: 0px;
}
.title {
    font-size: 25px;
    font-weight: bold;
}
.middleCont {
    width:100vw;
    height:60vh;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center; 
    justify-items: center;
    position: relative;
}
.side {
    width: calc((100vw - 60vh) / 2);
    height: 60vh;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
}
.grid {
    width: 60vh;
    height: 60vh;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(7, auto); 
}
.tile{
    border-radius: 0px;
    border: 2px solid #6c727d;
    background-color: #F1F1F1;
    width: 8vh;
    height: 8vh;
    margin: 1px;
    border-radius: 3px;
}
.top {
    box-sizing: border-box;
    
    width: 100vw;
    height: 10vh;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    vertical-align: center;
    grid-template-columns: repeat(100, auto); 
    border-bottom: 1px solid white;
}
.thin {
    box-sizing: border-box;
    
    width: 100vw;
    height: 10vh;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(100, auto); 
}

.table {
    margin-left: auto;
    margin-right: auto;
} 
.levelNameC {
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    vertical-align: center;
}
.timerC {
    font-size: 16px;
    text-align: center;
    vertical-align: center;
}
.difficultyC {
    font-size: 20px;
    font-weight: bold;
    text-align: right;
    vertical-align: center;
}

.scoresTable {
    font-size: 16px;
    text-align: center;
    vertical-align: center;
}

.bb1{
    width: 150px;
    height: 30px;
    border: 5px white;
    color: white;
    background-color: limegreen;
    border-radius: 20px;
    margin: 10px;
    font-size: 18px;
    font-weight: 900;
    text-align: center;
    vertical-align: center;
}
.bb2{
    width: 30px;
    height: 30px;
    border: white;
    color: white;
    background-color:#0090d8;
    border-radius: 20px;
    margin: 10px;
    font-size: 16.5px;
    font-weight: 900;
    text-align: right;
    vertical-align: center;
}

.submit1{
    width: 150px;
    height: 20px;
    color: #6c727d;
    background-color: white;
    border-radius: 20px;
    border: red;
    font-size: 8px;
    font-weight: 900;
    text-align: center;
    vertical-align: center;
}
.submit2{
    width: 80px;
    height: 20px;
    color: #6c727d;
    background-color: white;
    border: white;
    border-radius: 20px;
    margin: 10px;
    font-size: 13px;
    text-align: center;
    vertical-align: center;
}
